.App {
  text-align: center;
}
body{
  background-image: url(./images/AdobeStock_595397487.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  background: linear-gradient(90deg,red,green,blue);
  color: rgba(255,255,255,0.99);
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  padding: 10px;
}

button,input{
  margin: 5px;
  border-radius: 30px;
}
